@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body{

    background-image: linear-gradient(to right,#C7FFED,#D8FFDB);
  
}

main {
    
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px #034b34;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}
h1 {
    color:#023535;
    text-align: center;
    text-shadow: 1px 1px 2px #015958;
}

h2{
    color:#015958 ;

}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    
}



